################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/AlbertoPlayer/.vs/AlbertoPlayer/FileContentIndex/0e9bd57c-cf45-4223-ae6a-6a11a3580fee.vsidx
/AlbertoPlayer/.vs/AlbertoPlayer/FileContentIndex/4bcdd573-20ea-4625-a8ad-43dda3ebadcd.vsidx
/AlbertoPlayer/.vs/AlbertoPlayer/FileContentIndex/c5c529dc-bdb2-46ce-b978-e71e1815031d.vsidx
/AlbertoPlayer/.vs/AlbertoPlayer/FileContentIndex/d4556f3c-ee3d-4ebb-8b67-4679bf54739f.vsidx
/AlbertoPlayer/.vs/AlbertoPlayer/FileContentIndex/ea5d3aa4-8d9f-4d1c-b8c0-8e1a4c79e2cd.vsidx
